<div class="row mt-1">
    <div class="col-8">
        <p class="fs-5">JavaScript Tutorial</p>
    </div>
    <div class="col-4">
        <button class="btn-secondary btn-sm">Details</button>
    </div>
</div>
<div class="row mt-1">
    <div class="col-8">
        <p class="fs-5">JavaScript Tutorial</p>
    </div>
    <div class="col-4">
        <button class="btn-secondary btn-sm">Details</button>
    </div>
</div>
<div class="row mt-1">
    <div class="col-8">
        <p class="fs-5">JavaScript Tutorial</p>
    </div>
    <div class="col-4">
        <button class="btn-secondary btn-sm">Details</button>
    </div>
</div>
